/* ## RESET */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


button {
    cursor: pointer;
    margin-left: 10px;
    color: #fff;
    background-color: teal;
    display: inline-block;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 1rem;
    line-height: 1.5;
}


input {
    margin: 10px 10px;
    width: 100%;
    outline: 0;
    border: thin solid black;
    padding:  7px 4px;
    border-radius: 4px;
    margin-top: 10px;
}


:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.d-none {
    display: none !important;
}
