
.create_debt {
    max-width: 600px;
    padding: 20px 35px;
}

table {
    margin: 0 35px;
    border-collapse: collapse;
    width: calc(100% - 70px);
}

table thead {
    background-color: teal;
    color: white
}

table th, td {
    padding: 5px 7px;
}

table td span:nth-child(1) {
    color: rgb(52, 52, 226);
    font-size: 16px;
    padding-left: 24%;
    font-weight: 600;
    cursor: pointer;
}

table td span:nth-child(2) {
    color: rgb(228, 47, 47);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* CONFIRMATION */

.boxConfirmation {
    display: flex;
    justify-content: center
}

.confirmation {
    padding: 20px 35px;
    width: 50%;
}

.confirmation .message {
    padding: 35px;
    margin: 20px 0;
    border-radius: 5px;
    border: thin solid #ddd;
}

.confirmation .actions {
    display: flex;
    justify-content: flex-end;
}

.confirmation .actions button {
    margin: 5px;
    color: #666;
}

.confirmation .actions button.cancel {
    background-color: #F8D7DA
}

.confirmation .actions button.success {
    background-color: #D4EDDA
}
