/* ## RESET */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


button {
    cursor: pointer;
    color: #fff;
    background-color: teal;
    display: inline-block;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 1rem;
    line-height: 1.5;
}


input {
    margin: 10px 0;
    width: 100%;
    outline: 0;
    border: thin solid black;
    padding:  7px 4px;
    border-radius: 4px;
    margin-top: 10px;
}

.d-none {
    display: none !important;
}

/* HEADER */

header {
    background-color: teal;
    display: flex;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .title {
    color: #fff;
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 500;
}
header .profile {

}
/* NAV*/
nav{
    margin: 35px 35px 20px;
    padding: 5px;
    border-bottom: 1px dotted black;
    display: flex;
}

nav .title{
    flex: 1;
    font-size: 20px;
}

nav .action{

}
/* MAIN */
/* main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#login {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login .form_login {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 10px;
}

#login main button{
    align-self: flex-end;
    margin-top: 20px;
}

.create_user {
    background-color: ;
}

table {
    margin: 0 35px;
    border-collapse: collapse;
    width: calc(100% - 70px);
}
table thead {
    background-color: teal;
    color: white
}
table th, td {
    padding: 5px 7px;
}

table td span:nth-child(1) {
    color: rgb(52, 52, 226);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

table td span:nth-child(2) {
    color: rgb(228, 47, 47);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* CONFIRMATION */

.boxConfirmation {
    display: flex;
    justify-content: center
}

.confirmation {
    padding: 20px 35px;
    width: 50%;
}

.confirmation .message {
    padding: 35px;
    margin: 20px 0;
    border-radius: 5px;
    border: thin solid #ddd;
}

.confirmation .actions {
    display: flex;
    justify-content: flex-end;
}

.confirmation .actions button {
    margin: 5px;
    color: #666;
}

.confirmation .actions button.cancel {
    background-color: #F8D7DA
}

.confirmation .actions button.success {
    background-color: #D4EDDA
}



/* FOOTER */

footer {
    background: white;
    border-top: thin dotted black;
    margin-top: auto;
    display: flex;
    color: orange;
    vertical-align: middle;
    padding-left: 35px;
    padding-right: 35px;
}

footer .projectName {
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer .copyRight img{
    max-height: 80px;
}